# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt
import pendulum

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('./Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
test = df[df['date'] == "2010-06-01"]

In [9]:
test

           station        date  prcp  tobs
133    USC00519397  2010-06-01  0.00    78
2873   USC00513117  2010-06-01  0.03    74
5518   USC00514830  2010-06-01  0.01    73
7654   USC00517948  2010-06-01  0.00    77
9110   USC00518838  2010-06-01   NaN    69
9667   USC00519523  2010-06-01  0.03    76
12338  USC00519281  2010-06-01  0.00    71
15104  USC00511918  2010-06-01  0.00    74
17082  USC00516128  2010-06-01  0.08    70

In [4]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)

In [5]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True)

In [6]:
# Drop the date column
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [7]:
from scipy import stats

In [8]:
test = df[df]

ValueError: Boolean array expected for the condition, not object

In [ ]:
# Filter data for desired months
temps_june = df.loc[df.index.month == 6]['tobs']
temps_june

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis